.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-right: 5px;
    margin-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}

.btn-cart{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
}